<nav class="navbar is-dark">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="#" style="font-weight:bold;">
				Misael M.
			</a>
			<span class="navbar-burger burger" data-target="navMenu">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
		<div class="navbar-menu">
			<div class="navbar-end">
				<a href="#" class="navbar-item is-active">Home</a>
				<a href="#" class="navbar-item">Blog</a>
				<a href="#" class="navbar-item">Forum</a>
				<a href="#" class="navbar-item">Shop</a>
				<a href="#" class="navbar-item">Examples</a>
			</div>
		</div>
	</div>
</nav>
<section class="hero has-background-black">
	<div class="hero-body">
		<div class="container">
			<figure class="image center">
				<div class="image__content">
					<div class="image__item"></div>
				</div>
			</figure>

		</div>

	</div>

</section>
