<section class="section has-background-dark">
	<div class="container">
		<div class="columns">
			<div class="column">
				<div class="notification">
					<article class="media">
						<figure class="media-left">
							<span class="icon is-medium">
								<i class="fab fa-2x fa-css3-alt"></i>
							</span>
						</figure>
						<div class="media-content">
							<div class="content">
								<h1 class="title is-size-4">
							Busy?
						</h1>
						<p class="is-size-5">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis beatae fugit voluptas tempore vero natus neque, ipsum corporis eaque. Est odio iure assumenda minus, quam perspiciatis consequuntur distinctio quos nemo!
							</p> 
							</div>
						</div>
					</article>
				</div>
			</div>
			<div class="column">
				<div class="notification">
					<article class="media">
						<figure class="media-left">
							<span class="icon is-medium">
								<i class="fas fa-2x fa-align-justify"></i>
							</span>
						</figure>
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4">
										Nothing to do?
									</h1>
									<p class="is-size-5">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis beatae fugit voluptas tempore vero natus neque, ipsum corporis eaque. Est odio iure assumenda minus, quam perspiciatis consequuntur distinctio quos nemo!
									</p> 
								</div>
							</div>
					</article>
				</div>
			</div>
			<div class="column">
				<div class="notification">
					<article class="media">
						<figure class="media-left">
							<span class="icon is medium">
								<i class="fas fa-2x fa-shield-alt"></i>
							</span>
						</figure>
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4">
										Come visit us
									</h1>
									<p class="is-size-5">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis beatae fugit voluptas tempore vero natus neque, ipsum corporis eaque. Est odio iure assumenda minus, quam perspiciatis consequuntur distinctio quos nemo!
									</p> 
								</div>
							</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>