{% extends "templates/default.njk" %}
{% block content %}
<ul class="list">{{results.title}}</ul>
<h1 class="has-text-centered is-size-3 has-text-weight-bold is-capitalized">content here</h1>
{% endblock %}
