{% extends 'templates/default.njk' %}
{% block content %}
  <div class="list is-hoverable"></div>
  <script id="template" type="text/nunjucks">
    {% raw%}
      <a class="list-item has-text-centered">{{results.title}}</a>
      <a class="list-item has-text-centered">{{results.completed}}</a>
      <a class="list-item has-text-centered">{{results.id}}</a>
    {% endraw%}
  </script>
{% endblock %}
